
/* Fonts are now loaded asynchronously via index.html preload pattern */
/* Fallback font-face for IBM Plex Mono - only used in simulator/code areas */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/ibmplexmono/v19/-F63fjptAgt5VM-kVkqdyU8n1iIq129k.woff2') format('woff2');
}
